/* ROOT */
:root {
  --main-color: #181818; /*variable */
  --second-color: #A6A6A6;
}
/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
    color:black;
}

/* GLOBAL */

/* Firefox */

*::-moz-selection {
    background: var(--second-color);
    color: var(--main-color);
}

*::selection {
    background: var(--second-color);
    color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
small,
span{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.page{
    overflow: hidden;
    width: 100%;
    min-height: 100vh;

    position: relative;
}

/* HEADER */

.header__wrapper{
    padding: 1rem;

    background-color: var(--main-color);

    display: flex;
}

.header__titles{
    color: var(--second-color);
    align-self: center;

    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    align-self: center;
}
.sound__wraper{
    padding: 2rem;
}

input[type='range'] {
      overflow: hidden;
      width: 100px;
      -webkit-appearance: none;
      background-color: var(--second-color);
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: var(--second-color);
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: var(--main-color);
      box-shadow: -80px 0 0 80px #d40000;
    }
.sound__btn{
    opacity: .2;
}

.sound__btn.ready{
    border: 0;
    background-color: var(--second-color);
    color: var(--main-color);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 1
}

button.sound__btn.ready.play{
    pointer-events: none;
    opacity: .5;
    color: #d40000;
}


.header__logo{
    flex: 1;
}

.header__title{
    cursor: pointer;
    font-size: 4rem;
    text-align: center;
    color: var(--second-color);

}

.header__subtitle{
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px 2px white;
}

.header__logo img{
    width: 50%;
}

.menu.fixed{
    position: fixed;
    top: 0;
    width: 100%; 

    z-index: 10;
    box-shadow: 2px 2px 2px black;
}

.menu__list{
    list-style: none;

    display: flex;  /* hacemos posicionamiento en flex*/
    flex-direction: row;  /* direccion en linia */
    justify-content: space-evenly; /* lo proporcionamos en espacio */

    background-color: var(--second-color);
}

.menu__item{
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color .3s ease; /*animation */
}

.menu__item:hover {
    background-color: var(--main-color);

}
.menu__item:hover>.menu__link{
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.menu__link{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;

    text-shadow: 1px 1px 1px #fff;

    transition: color .3s ease; /*animation */
}

.header__image{
    width: 100%;
    height: 110vh;
    background-image: url('../media/peakpx.jpg');
    background-attachment: fixed;
}
.header__image>.image__title{
    text-align: center;
    padding-top: 15%;
    font-size: 8rem;
    font-weight: bolder;
    color: #d40000;
    text-shadow: 2px 2px 2px white;
}



/* MAIN */

    /* RUTAS */
.rutas__section{
    width: 100%;

    background-color: var(--second-color);
}
.rutas__wrapper{
    display: flex;
    justify-content: center;
    
}
.rutas__text{
    flex: 1;
    
    margin-top: 5rem;    
}
.rutas__title{
    text-align: center;
    font-size: 2rem;
}
.rutas__text > p{
    text-align: center;

    padding: 1rem 2rem;
}
.rutas__btn{
    width: 100%;
    text-align: center;

}
.rutas__btn button{
    margin: 0 auto;
    padding: 1rem  2rem;
    background-color: #d40000;
    color: white;

    font-weight: bold;

    border: 0;
    border-radius: 20px;

    box-shadow: 3px 3px 3px var(--main-color);

    cursor: pointer;

    transition: all 1s ease;
}
.rutas__btn button:hover{
    box-shadow: 5px 5px 5px var(--main-color);
    transform: scale(1.1);
}
.rutas__btn button:active{
    box-shadow:  1px 1px 1px var(--main-color);
    transform: scale(0.9);
}


.rutas__image{
    flex: 1;
}

.rutas__image > img{
    width: 100%;
}


    /* GALERIA */
.galeria__title{
    text-align: center;
    text-transform: uppercase;

    font-size: 4rem;
    font-weight: bold;

    background-color: white;
}

.galeria__wrapper {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  width: 100%; 
  height: 100%; 
}

.box__1 { grid-area: 1 / 1 / 2 / 2; }
.box__2 { grid-area: 1 / 2 / 2 / 3; }
.box__3 { grid-area: 1 / 3 / 2 / 4; }
.box__4 { grid-area: 2 / 1 / 3 / 2; }
.box__5 { grid-area: 2 / 2 / 3 / 3; }
.box__6 { grid-area: 2 / 3 / 3 / 4; }

.galeria__box > img{
    width: 100%;

    transition: -webkit-filter .3s ease;

    transition: filter .3s ease;

    transition: filter .3s ease, -webkit-filter .3s ease;
}

.galeria__box > img:hover{
    cursor: pointer;

    -webkit-filter: invert(.3);

            filter: invert(.3);
}
    /* NOSOTROS */
.nosotros__section{
    width: 100%;

    background-color: var(--second-color);

    margin-bottom: 50vh;
}
.nosotros__wrapper{
    display: flex;
    justify-content: center;
    
}
.nosotros__text{
    flex: 1;
    
    margin-top: 5rem;    
}
.nosotros__title{
    text-align: center;
    font-size: 2rem;
}
.nosotros__text > p{
    text-align: center;

    padding: 1rem 2rem;
}
.nosotros__btn{
    width: 100%;
    text-align: center;

}
.nosotros__btn button{
    margin: 0 auto;
    padding: 1rem  2rem;
    background-color: #d40000;
    color: white;

    font-weight: bold;

    border: 0;
    border-radius: 20px;

    box-shadow: 3px 3px 3px var(--main-color);

    cursor: pointer;

    transition: all 1s ease;
}
.nosotros__btn button:hover{
    box-shadow: 5px 5px 5px var(--main-color);
    transform: scale(1.1);
}
.nosotros__btn button:active{
    box-shadow:  1px 1px 1px var(--main-color);
    transform: scale(0.9);
}


.nosotros__image{
    flex: 1;
}

.nosotros__image > img{
    width: 100%;
}

/* FOOTER */
footer { 
    position: fixed; /*para posicionarlo absulutamente*/
    z-index: -1;

    bottom: 0;/*para que este abajo*/
    width: 100%;
    height: 40vh;
    text-align: center;

    padding: 2rem;

    background-color: var(--main-color);
}


